body {
    background-color: white;
}

h1 {
    text-align: center;
    color:white;
}

.container {
    display: table;
    background-color: purple;
    width: 40rem;
    height:40rem;
    position: relative;
}

.pagina_total {
    text-align: left;
    /* display: flex; /
    display: table-cell;
    vertical-align: middle;
    / flex-direction: column; /
    / align-items: center;
    flex-wrap: wrap;
    justify-content: center; */
    width: 20rem;
    height: 25em;
    background-color: white;
    border-radius: 20px;
    padding: 5%;
    position:absolute;
    top: 20%;
    left: 20%;
    margin: -25px 0 0 -25px;


}

.div_msg {

    margin-top: 10px;
    margin-bottom: 10px;
    background-color: gray;
    width: 30vw;
    height: 30vh;
    border-radius: 15px;
}

.div_media {
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: gray;
    width: 10vw;
    height: 5vh;
    border-radius: 15px;
}